Language: Cpp
BasedOnStyle: LLVM
BreakBeforeBraces: Allman
ColumnLimit: 120
IndentWidth: 2
TabWidth: 2
UseTab: Never
AllowShortFunctionsOnASingleLine: None
PointerAlignment: Left
AllowShortEnumsOnASingleLine: false
